@model Project

<form asp-action="Edit" method="post" enctype="multipart/form-data">
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="ProjectType">ProjectType:</label>
        <input asp-for="ProjectType" class="form-control" required />
        <span asp-validation-for="ProjectType" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="StartDate">StartDate:</label>
        <input asp-for="StartDate" class="form-control" required />
        <span asp-validation-for="StartDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="EndDate">EndDate:</label>
        <input asp-for="EndDate" class="form-control" />
        <span asp-validation-for="EndDate" class="text-danger"></span>
    </div>

    @if (ViewBag.managers.Count > 0)
    {
        <div class="form-group">
            <label for="Select">Project Manager:</label>
            <select id="Select" class="form-control">
                @foreach (var manager in ViewBag.managers)
                {
                    <option value="@manager.ID">@manager.FullName</option>
                }
            </select>
        </div>
        <div class="form-group">
            <input type="hidden" asp-for="ProjectManagerID" id="FKid" class="form-control" />
        </div>
    }
    else
    {
        <p>NO AVAILABLE MANAGERS!</p>
    }

    <div class="form-group">
        <label asp-for="Comment">Comment:</label>
        <input asp-for="Comment" class="form-control" />
        <span asp-validation-for="Comment" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Status">Status:</label>
        <input asp-for="Status" class="form-control" />
        <span asp-validation-for="Status" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Edit</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>

<script src="~/js/SelectionChange.js"></script>